.about{
  padding: 4rem 0;
  &__text{
    margin-bottom: 3rem;
  }

  
    .about__card{
      text-align: center;
     @media screen and (min-width: 900px) {
       text-align: left;;
     }
    
    }
    .card__image{
      margin: auto;
      @media screen and (min-width: 900px) {
        margin-left: 0;
      }
    }
    
  
  }

  

